body{
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}

.footer-navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.footer-navigation-li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
}

.well-contact{
	background-color: white;
}

.all-content{
	margin-top: 100px;
}

footer{
	margin-top: 50px;
	border-top: 1px solid #dce0e0;
	height: 75px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.navbar-collapse{
	background-color: white;
}
/*logo font*/
.navbar-brand{
	font-family: CanelaBark_PERSONAL;
	font-size: 60px;
}

/*increased height of navbar and changed background color*/
.navbar{

	box-shadow:  0 1px 5px rgba(0, 0, 0, 0.1);
	padding-top: 12px;
	background: #ffffff;
	height: 80px;
	margin-bottom: 35px;
}

/*navbar links' colors are adjusted*/
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: #484848;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #080208;
}


.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #080707;
}

/*rectange for become and expert*/
#become-an-expert a{
	color: #484848;
	border: 2px solid #dbdbdb;
	margin-right: 40px;
}

/*pushing the navbar to right slightly*/
.navbar-nav{
	margin-left: 30px;
}


.solid-background-positive{
	padding-top: 30px;
	padding-bottom: 90px;
}


.solid-background-negative{
	padding-top: 30px;
	padding-bottom: 90px;
	border-bottom: 1px solid #dce0e0;
}


.solid-background-footer{
	border-top: 1px solid #dce0e0;
	padding-top: 30px;
	padding-bottom: 30px;
}


.expert-name{

	margin: 15px 0px 10px;
    font-size: 14px;
    font-weight: 500;
    color:  #9575cd;
	
}


.expert-caption{
	height: 135px;
	overflow:hidden;
}

.expert-caption p{
	color:#636b6f;
	text-align: justify;
	font-size: 12px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

}

.btn-service{
	margin-left: -5px;
	margin-top: -5px !important;
}

.btn-expert {
	/*background: white;*/
	color: black;
	margin-top: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background: #ff5a5f;
    color:  rgba(255, 255, 255, 0.93);

}

.btn-expert:hover {
    background-color: #ff5a4e;
    color: #fff;
}

.btn-browse-expert{
	font-size: 18px;
	font-weight: 400;
	background-color: white;
	color: #ff5a5f;
	border-color: #ff5a5f;
	margin-top: 15px;
	padding-left: 80px;
	padding-right: 80px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.btn-browse-expert:hover{
	color: #ff5a4e;
}

.expert{
	border-radius: 5px;
	background: rgb(255, 255, 255);
	width: 280px;
	margin: 10px;
	padding: 20px;
	border: 1px solid #dce0e0;
	float: left;
}

.outer{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

h1{
	padding: 20px;
}

.glyphicon{
	font-size: 50px;
}

.steps{
	width: 380px;
	float: left;
	margin-top: 20px;
	border: 1px solid  #dce0e0;
	border-radius: 20px;
	padding: 20px;
	margin-right: 10px;
}

.img-rounded {
    border-radius: 100px;
    border: 2px solid rgba(138, 138, 138, 0.13);
}

.expert-title>p{
	color: rgba(172, 140, 138, 0.69);
	margin-top: -10px;
    font-size: 12px;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}


 .service-card{


 }

.service-card .expert-info{
	color: #ababab;
	font-size: 16px;
}

.label-default {
	background-color: #72b8bf;
}

.label{
	font-size: 100%;
	margin-right: 0.3em;
}

.service-right-section{
	padding-top: 3%;
}

.get-service{
	color: white;
	font-weight: 800;
	background-color: #F47252;
}

.service-rate{
	font-weight: 800;
}
.per-minute{
	margin-top: -10px;
}

/* The Booking Modal (background) */
.modal-booking {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	/*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

/* Booking Modal Content/Box */
.modal-booking-content {
	background-color: #fefefe;
	margin: 10% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}